<!--header -->
        <div class="col-12 row ml-0">
            <div class="col-11 row title">
                <button id="addFormlogo" class="btn btn-blue btn-circle" style="margin-left: 0px;">
                </button>
                <p class="pt-1" style="margin-top: 5px; margin-left: 10px;"> Очаг ДТП</p>
            </div>
            <div class="col-1 ml-auto p-0">
                <button id="closeAddMenu" onclick="hideAddForm()" class="btn float-right"
                         style="background-color: transparent; border-color: transparent;" >
                    <i class="material-icons" style="margin-top: 5px;color: #8E92A5">clear</i>
                </button>
            </div>
        </div>
<hr style="margin: 16px 24px 0px 24px;">
<div class="scroll" style="height: 460px;padding: 0px 24px 0px 24px;width: 100%">

    <div class="mt-0">
        <ul class="nav nav-tabs row p-0 m-0 text-switch" role="tablist">
            <li class="nav-item col-4 p-0" style="text-align: center;">
                <a class="nav-link forum active" data-toggle="tab" href="#areadata" role="tab" 
                   style="padding-top: 21px">
                    <i class="fa fa-bar-chart fa-sm menu-fa" style="padding-right: 11px;"></i>
                    Данные
                </a>
            </li>
            <li class="nav-item col-4 p-0" style="text-align: center;">
                <a class="nav-link forum" data-toggle="tab" href="#galery" role="tab" style="padding-top: 21px">
                <i class="fa fa-image fa-sm menu-fa" style="padding-right: 11px;"></i>
                Галерея
                </a>
            </li>
            <li class="nav-item col-4 p-0" style="text-align: center;">
                <a class="nav-link forum " data-toggle="tab" href="#messages" role="tab" style="padding-top: 21px">
                <i class="fa fa-comments-o fa-sm menu-fa" style="padding-right: 11px;"></i>
                Обсудить
                </a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane p-2 active" id="areadata" role="tabpanel">
      ...
            </div>
            <div class="tab-pane p-2" id="galery" role="tabpanel">
      ...
            </div>
            <div class="tab-pane p-2" style="word-break: break-all;" id="messages" role="tabpanel">
      ...
            </div>
        </div>
    </div>

</div>
