<!--header -->
        <div class="col-12 row ml-0">
            <div class="col-10 row title">
                <button id="loginformlogo" class="my-auto btn btn-blue btn-circle" style="margin-left: 0px;">
                </button>
                <p class="my-auto" style="margin-top: 5px; margin-left: 10px; font-size: 20px;"> Регистрация</p>
            </div>
            <div class="col-2 ml-auto p-0">
                <button id="closeLoginMenu" onclick="hideLoginForm()" class="btn float-right" 
                        style="background-color: transparent; border-color: transparent;" >
                    <i class="material-icons" style="margin-top: 5px;color: #8E92A5">clear</i>
                </button>
            </div>
        </div>

    <form class="col-12 p-0 ml-0 tab-pane text-option" id="registr" role="tabpanel">
      <div class="form-group form-group-login row">
            <span>Имя</span>
            <input type="text" class="form-control input-form" id="name" name="name" value="" />
      </div>
      <div class="form-group row">
            <span>Фамилия</span>
            <input type="text" class="form-control input-form" id="lastname" name="lastname" value="" />
      </div>
      
      <div class="form-group row">
            <span>Email</span>
            <input type="text" class="form-control input-form" id="new_email" name="new_email" value="" />
        </div>
        <div class="form-group form-group-login row">
            <span>Пароль</span>
            <input type="password" class="form-control input-form" id="new_password" name="new_password" value="" />
      </div>
      <div class="form-group row">
            <span>Повторите пароль</span>
            <input type="password" class="form-control input-form" id="new_password2" name="new_password2" value="" />
      </div>
      <div class="row">
            <input class="btn btn-blue col-12 text-white" id="registrSubmitButton" type="submit" value="ЗАРЕГИСТРИРОВАТЬСЯ">
      
            <p class="mt-2 mb-0 text-dop">нажимая кнопку зарегистрироваться, вы соглашаетесь с правилами передачи персональных данных</p>
      </div>
    </form> 

    <span id="regerror"></span>
    <hr>
    <div class="col-12 ml-0 pt-2">
        <button class="m-0 btn switch_btn form-control" onclick="switchformtologin()">
        ВХОД
        </button>
    </div>
